# Quartus generated outputs
db/
output_files/
incremental_db/
*.rpt
*.summary
*.smsg
*.done
*.pin
*.jdi
*.sld
*.sof
*_pin_model_dump.txt

# Quartus user/session files
*.qws
*.qws.settings
*.sopcinfo
*.qpf.bak
*.qsf.bak

# ModelSim/Questa generated outputs
work/
simulation/work/
simulation/modelsim/
simulation/verilog_libs/
*.wlf
transcript
simulation/transcript
simulation/cache_coherence.cr.mti

# Backup/temp files
*.bak
*.jou
*.log

# Latex generated outputs
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# simulation venv
tests/.venv/
tests/test_runner.py
project2.zip
architecture_diagram.html
architecture-diagrams.md
report/diagram/*